@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

/* font-family: 'Gilroy-Bold', sans-serif; */
/* font-family: 'Gilroy-Heavy', sans-serif; */
/* font-family: 'Gilroy-Light', sans-serif; */
/* font-family: 'Gilroy-Medium', sans-serif; */
/* font-family: 'Gilroy-Regular', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Heavy", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 95%;
  margin: auto;
}

/* Navbar */

.top-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #444444;
  color: white;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: #444444;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
}

.hero-section {
  position: relative;
  width: 100%;
}

.hero-section img {
  width: 100%;
}

.gray-image {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  display: inline-block;
  padding: 18px;
  background-color: white;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  border: none;
  width: 50%;
  font-weight: 800;
}
